@font-face {
    font-family: Graphik;
    src: url(/font.graphik/Graphik-Regular.woff..);
    font-weight: 700;
}

body {
    font-family: Graphik;
    background: #000;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: #000;
    padding-bottom: 100px;
}
.hero {
    color: white;
}
.hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link {
    font-size: 15px;
    /* margin: 30px; */
    color: #fff;
    padding: 30px;
    text-decoration: none;
}
.btn {
    color: #fff;
    background: #000;
    border: 2px solid #fff;
    padding: 10px 30px;
}
.list {
    display: none;
}

@media screen and (max-width: 762px) {
    .photo-adaptiv {
        display: block;
    }
    .nav {
        display: none;
    }
    .list {
        display: block;
    }
    .title {
        font-size: 40px;
        margin: 0 auto;
    }
    .two-title {
        flex-direction: column;
    }
    .photo-list {
        display: none;
    }
}
@media screen and (max-width: 549px) {
    .title {
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 62px;
        display: block;
    }

    .box {
        width: 90%;
        margin: 0 auto;
        margin: 0;
    }
    .hero {
        width: 60%;
        margin: 0 auto;
    }
    .btn-info {
        flex-direction: column;
        gap: 21px;
    }
    .text-menu-info {
        /* width: 280%; */
    }
    .option-info {
        flex-direction: column;
    }

    .photo {
        display: none;
    }
    .photo-box {
        display: none;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 50px 0px; */
    gap: 17px;
}
.title {
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    text-align: center;
    margin: 0;
}
.box {
    width: 60%;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-info {
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}
.btn-box {
    color: #fff;
    background: #4452fe;
    border: 2px solid #4452fe;
    padding: 15px 30px;
}
.btn-title {
    color: #fff;
    background: #000;
    border: 2px solid #fff;
    padding: 15px 30px;
}
.img-box {
    width: 100%;
}
.option__onfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 62px 50px; */
}
.menu {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
}
.text-menu {
    width: 60%;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.img-info {
    width: 90%;
}
.svg-time {
    color: #fff;
}
.svg-text {
    color: #fff;
}
.option-info {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.svg-title {
    width: 100%;
}
.svg-info {
    width: 25px;
}
.box-title {
    display: flex;
    align-items: center;
}
.svg-time {
    padding: 10px;
}
.choice__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 50px 199px; */
}
.text-menu-info {
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.two-title {
    display: flex;
    justify-content: space-between;
    gap: 33px;
    padding-bottom: 100px;
}
.two {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.two-text {
    width: 268px;
    display: flex;
    justify-content: center;
}
.two-menu {
    display: flex;
    justify-content: center;
}
.two-btn {
    color: #fff;
    background: #4452fe;
    padding: 10px 20px;
}
.two-img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.gallery-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.gallery-sudjekt {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 88px;
    text-align: center;
    margin: 0;
}
.gallery-text {
    /* width: 40%; */
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.list-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 44px;
}

.photo-box {
    display: flex;
    gap: 30px;
    padding: 44px;
}
.photo-adaptiv {
    width: 60%;
    display: none;
}
.pasted {
    width: 100%;
    padding: 25px 0px;
}

.photo-btn {
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border: 1px solid #fff;

}
.photo-btn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.social-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    padding-top: 50px;
}

.website {
    padding: 0px 40px;
}
.website-box {
    padding: 0px 20px;
}

@media screen and (max-width: 768px) {
    .photo-adaptiv {
        display: block;
    }
    .social-img {
        flex-direction: column;
    }
    .sociol-title {
        display: flex;
    }
    .footer__blocks {
        flex-direction: column;
        align-items: center;
    }
    .option-info {
        flex-direction: column;
    }
}
.website-title {
    display: flex;
}
.sociol-title {
    display: flex;
}
.social-list {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 88px;
    text-align: center;
    margin: 0;
}
.social-text {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.btn-social {
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border: 1px solid #fff;
}
.comments-info {
    width: 40%;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.list-comments {
    color: #fff;
}
.test-text {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    display: flex;
    justify-content: center;
}
.test-blocks {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
.test-blocks3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.test-blocks2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.test-block {
    max-width: 430px;
    padding: 40px;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #dedede;
    background: var(--dark-background, #181818);
}
.test-text1 {
    color: var(--light-text, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
}
.test-text2 {
    color: var(--light-text, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.test-svg-title {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
}
.test-svg-title2 {
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .test-blocks {
        display: flex;
        flex-direction: column;
    }
}
.open-box {
    display: flex;
    height: 370px;
    align-items: center;
    gap: 86px;
    border-radius: 33px;
    background: #343434;
    margin-top: 200px;
    margin-bottom: 300px;
}
.open-info {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 150px;
}
.open-text {
    color: var(--light-text, #fff);
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    margin: 0;
}
.open-btn {
    color: var(--light-text, #fff);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 20px 36px;
    align-items: center;
    border: none;
    background: var(--primary, #4452fe);
}
.open-img {
    width: 100%;
}
@media screen and (max-width: 900px) {
    .open-box {
        flex-direction: column;
        background: none;
    }
    
        
        
    
}
.footer {
    padding: 100px 0 50px 0;
}

.footer__blocks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.footer_block_nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__block-title {
    color: var(--light-text, #fff);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.footer_block_nav-link {
    color: var(--light-text, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}
.footer-img {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-img1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_block_social {
    display: flex;
    gap: 50px;
}
@media screen and (max-width:320px) {
    .title {
        font-size: 52px;
    }

    
}